deps/
ebin/
/.eunit

/scratch/
/priv/static/uploader/*.png
/priv/static/uploader/*.jpg
/priv/static/uploader/*.jpeg

*.log
console.log
crash.log
error.log

/.idea/

/erl_crash.dump
/Mnesia.flowerwrong@blog.io/
/Mnesia.erlblog@yang/
/.sass-cache/
