{% extends "layout/posts.html" %}

{% block title %}新建博客{% endblock %}

{% block body %}
<div class="container">
  <div id="primary">
    <div id="content" role="main">
      <form method="post" action="/uploader" enctype="multipart/form-data">
        <input type="file" name="image" value="请上传图片" />
        <input type="submit" value="submit" />
      </form>

      <div id="editor">## Readme</div>
      <script src="/static/plugins/ace1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
      <script>
        // http://ace.c9.io/#nav=howto
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().on('change', function(e) {
          console.log(e);
        });
      </script>
    </div><!-- #content .site-content -->
  </div><!-- #primary .content-area -->
</div><!-- / container-->
{% endblock %}
