{% extends "layout/posts.html" %}

{% block title %}新建博客{% endblock %}

{% block body %}
<div class="container">
  <div id="primary">
    <div id="content" role="main">
      <form method="post" action="/posts/create" enctype="multipart/form-data">
        <div class="fileupload-box">
          <input id="fileupload" type="file" name="file" value="请上传图片" />
          <input type="hidden" name="image" value="" />
        </div>
        <fieldset class="fieldset-box title">
          <label class="label-box">标题</label>
          <input type="text" name="title" class="input-box" value="">
        </fieldset>
        <fieldset class="fieldset-box summary">
          <label class="label-box">摘要</label>
          <textarea name="summary" class="input-box"></textarea>
        </fieldset>

        <textarea name="content" class="hidden"></textarea>

        <div id="editor">## Readme</div>

        <textarea name="markdown" class="hidden"></textarea>

        <input type="submit" value="submit" class="submit-post" />
      </form>

      <!-- ace editor -->
      <script src="/static/plugins/ace1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
      <script src="/static/components/marked/lib/marked.js"></script>
      <link rel="stylesheet" href="/static/components/highlightjs/styles/default.css" type="text/css" media="all">
      <script src="/static/components/highlightjs/highlight.pack.js"></script>
      <script>
        // http://ace.c9.io/#nav=howto
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/markdown");
        editor.getSession().on('change', function(e) {
          console.log(e);
          marked.setOptions({
            highlight: function (code) {
              return hljs.highlightAuto(code).value;
            }
          });
          var markdown = marked(editor.getValue());
          console.log(markdown);
          $('.markdown-preview').html(markdown);
        });

        (function($) {
          "use strict";
          $(function() {
            $(".submit-post").on("click", function () {
              var title, summary, markdown, image, data;
              title = $( "input[name='title']").val();
              console.log(title);
              summary = $( "textarea[name='summary']").val();
              console.log(summary);
              markdown = editor.getValue();
              console.log(markdown);
              image = $( "input[name='image']").val();
              console.log(image);

              data = {
                title: title,
                image: image,
                summary: summary,
                markdown: markdown
              };

              <!-- 提交 -->
              $.ajax({
                type: "POST",
                url: '/posts/create',
                dataType: 'json',
                data: data,
                success: function(data, textStatus, jqXHR) {
                  console.log(data);
                  if(data.error !== undefined) {
                    alert(data.error);
                  }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                  console.log(errorThrown);
                }
              });
              return false;
            });
          });
        }(jQuery));
      </script>

      <!-- jquery file uploader -->
      <script src="/static/components/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
      <script src="/static/components/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
      <script src="/static/components/blueimp-file-upload/js/jquery.fileupload.js"></script>
      <script>
        $(function () {
          $('#fileupload').fileupload({
            url: '/uploader',
            dataType: 'json',
            done: function (e, data) {
              console.dir(data);
              $( "input[name='image']").val(data.result.url);
              $(".img-view img").attr('src', data.result.url);
              $(".img-view").show();
            }
          });
        });
      </script>

      <div class="img-view hidden">
        <img src="">
      </div>

      <div class="markdown-preview">

      </div>
    </div><!-- #content .site-content -->
  </div><!-- #primary .content-area -->
</div><!-- / container-->
{% endblock %}
