<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}erlblog!{% endblock %}</title>
  {% block css %}
  <link rel="stylesheet" href="/static/stylesheets/admin.css" type="text/css" media="all">
  {% endblock %}
</head>

<body>

{% block js %}
<script type="text/javascript" src="/static/components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/javascripts/admin.js"></script>
{% endblock %}
</body>
</html>
