<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}erlblog!{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" media="all">
    {% endblock %}
    <script type="text/javascript" src="/static/components/jquery/dist/jquery.js"></script>
  </head>

  <body class="home blog">
    <header id="masthead" class="site-header" role="banner">
    	<div class="container">
    		<div class="gravatar">
    			<img alt="" src="/static/chicago-boss.png" class="avatar avatar-100 photo" height="100" width="100">
        </div><!--/ author -->

    		<div id="brand">
    			<h1 class="site-title">
            <a href="/" title="blog" rel="home">Erlblog</a> — <span>Just another blog write by erlang.</span>
           </h1>
    		</div><!-- /brand -->

    		<nav role="navigation" class="site-navigation main-navigation">
    			<div class="menu-main-nav-container">
            <ul id="menu-main-nav" class="menu">
              <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="/about">About</a></li>
              <li id="menu-item-86" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-86"><a href="/design">Design</a></li>
            </ul>
          </div>
        </nav><!-- .site-navigation .main-navigation -->

    		<div class="clear"></div>
    	</div><!--/container -->
    </header><!-- #masthead .site-header -->

    {% block body %}
      Container
    {% endblock %}

    <footer class="site-footer" role="contentinfo">
    	<div class="site-info container">
    		Powered by <a href="http://www.chicagoboss.org" title="chicagoboss" rel="generator">Chicagoboss Framework</a>
    		<span class="sep"> and </span>
    		<a href="http://lessmade.com/themes/less" rel="theme">LESS Theme</a>
    	</div><!-- .site-info -->
    </footer><!-- #colophon .site-footer -->

    {% block js %}
    <script type="text/javascript" src="/static/components/fitvids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/javascripts/theme.js"></script>
    {% endblock %}
  </body>
</html>
